#special-sponsor {
  border-top:1px solid var(--vt-c-divider-light);
border-bottom:1px solid var(--vt-c-divider-light);
padding:12px 24px;
display:flex;
align-items:center}

#special-sponsor span { 
color:var(--vt-c-text-2);
font-weight:500;
font-size:13px;
vertical-align:middle;
}

#special-sponsor span:first-child {
text-align:right;
}

#special-sponsor a { 
display:flex;

padding:0 24px;
}

#special-sponsor img { 
height:42px;
margin:0px 0 -10px 0}

@media(max-width: 576px) {
  #special-sponsor {
}

#special-sponsor img { 
height:36px;margin:8px 0}

#special-sponsor span { 
text-align:center!important}
}
