<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SOME WONDERFUL BOOKS</title>
        <link rel="icon" type="image/x-icon" href="pic/favicon.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="mystyle.css" rel="stylesheet">
        <script src="js/bootstrap.bundle.min.js"></script>
    </head>

<body>
    <div class="container">
        <div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-grey rounded">
                <div class="container-fluid">
                    <a type="button" data-bs-toggle="offcanvas" href="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <img src="pic/bootstrap-icons/three-dots.svg" alt="menuhead">
                    </a>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav me-auto">
                        </ul> 
                        <ul class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item px-1"><a href="https://appleid.apple.com/sign-in"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Apple" target="_blank">
                            <img src="pic/bootstrap-icons/apple.svg" class="mx-auto" alt="myappleid" width="16" height="16">
                            <a></li>
                            <li class="breadcrumb-item px-1"><a href="https://www.google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Google">
                            <img src="pic/bootstrap-icons/google.svg" class="mx-auto" alt="mygoogle" width="15" height="15">
                            <a></li>
                            <li class="breadcrumb-item px-1"><a href="https://instagram.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Instagram">
                            <img src="pic/bootstrap-icons/instagram.svg" class="mx-auto" alt="myinstagram" width="15" height="15">
                            <a></li>
                            <li class="breadcrumb-item px-1"><a href="#" class="link-info" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Share to friends">
                            <img src="pic/bootstrap-icons/share.svg" class="mx-auto"  alt="myshare" width="15" height="15">
                            <a></li>
                            <a href="#signin" data-bs-toggle="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign in">
                                <img src="pic/bootstrap-icons/person-circle.svg" alt="signin">
                            </a></ul>
                        <div class="modal" id="signin">
                            <div class="modal-dialog modal-fullscreen-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title mx-auto"><strong>Welcome to RSbook!</strong></h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="was-validated">
                                            <div class="mb-3 mt-3 form-floating">
                                                <label for="email" class="form-label" id="enter">Enter your email:</label>
                                                <input type="email" class="form-control" id="email" placeholder="email" name="email" required>
                                                <div class="valid-feedback">
                                                    Input valid<img src="pic/bootstrap-icons/check2-circle.svg"></div>
                                                <div class="invalid-feedback">Please input right form<img src="pic/bootstrap-icons/x-octagon.svg"> </div>
                                            </div>
                                            <div class="mb-3 form-floating">
                                                <label for="pwd" class="form-label" id="enter">Enter your password:</label>
                                                <input type="password" class="form-control" id="pwd" placeholder="password" name="pwd" required>
                                                <div class="valid-feedback">
                                                    Input valid<img src="pic/bootstrap-icons/check2-circle.svg"></div>
                                                <div class="invalid-feedback">Please input right form<img src="pic/bootstrap-icons/x-octagon.svg"> </div>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
                                                <label class="form-check-label" for="mycheck">I agree on the terms and conditions</label>
                                                <div class="valid-feedback">
                                                    valid<img src="pic/bootstrap-icons/check2-circle.svg"></div>
                                                <div class="invalid-feedback">Check this checkbox to continue<img src="pic/bootstrap-icons/x-octagon.svg"> </div>
                                            </div>
                                            <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between unborded"><button type="submit" class="btn btn-light">Sign in</button>
                                            <a  type="button">Sign up</button></li></ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        
    
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Book Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <button  class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead">
                    Computer<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
                </button>
                <div class="collapse" id="demohead">
                    <div class="list-group" id="category1">
                        <a href="#prog"  data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Programming<span class="badge bg-danger rounded-pill">23</span>
                        </a>
                        <div id="prog" class="collapse show" data-bs-parent="#category1">.</div>
                        <a href="#syst" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            System<span class="badge bg-danger rounded-pill">34</span>
                        </a>
                        <div id="syst" class="collapse" data-bs-parent="#category1">.</div>
                        <a href="#netw" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Network<span class="badge bg-danger rounded-pill">15</span>
                        </a>
                        <div id="netw" class="collapse" data-bs-parent="#category1">.</div>
                    </div>
                </div>

                <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead1">
                Mathematics<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
                </button>
                <div class="collapse" id="demohead1">
                    <div class="list-group" id="category2">
                        <a href="#real"  data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Real Analysis<span class="badge bg-danger rounded-pill">93</span>
                        </a>
                        <div id="real" class="collapse show" data-bs-parent="#category2">.</div>
                        <a href="#comp" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Complex Analysis<span class="badge bg-danger rounded-pill">22</span>
                        </a>
                        <div id="comp" class="collapse" data-bs-parent="#category2">.</div>
                        <a href="#diff" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Differential Equations<span class="badge bg-danger rounded-pill">16</span>
                        </a>
                        <div id="diff" class="collapse" data-bs-parent="#category2">.</div>
                    </div>
                </div>
    
                    <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead2">
                Economy<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
            </button>
            <div class="collapse" id="demohead2">
                <div class="list-group" id="category3">
                    <a href="#micr"  data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Microeconomics<span class="badge bg-danger rounded-pill">45</span>
                    </a>
                    <div id="micr" class="collapse show" data-bs-parent="#category3"> </div>
                    <a href="#macr" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Macroeconomics<span class="badge bg-danger rounded-pill">54</span>
                    </a>
                    <div id="macr" class="collapse" data-bs-parent="#category3">.</div>
                    <a href="#beha" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Behavioral Economics<span class="badge bg-danger rounded-pill">24</span>
                    </a>
                    <div id="beha" class="collapse" data-bs-parent="#category3">.</div>
                </div>
            </div>
    
                    <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead3">
                Philosophy<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
            </button>
            <div class="collapse" id="demohead3">
                <div class="list-group" id="category4">
                    <a href="#arist"  data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Aristotelian Realism<span class="badge bg-danger rounded-pill">new</span>
                    </a>
                    <div id="arist" class="collapse show" data-bs-parent="#category4">.</div>
                    <a href="#kant" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Kantian Conceptualism<span class="badge bg-danger rounded-pill">25</span>
                    </a>
                    <div id="kant" class="collapse" data-bs-parent="#category4">.</div>
                    <a href="#huss" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Husserlian Descriptivism<span class="badge bg-danger rounded-pill">98</span>
                    </a>
                    <div id="huss" class="collapse" data-bs-parent="#category4">.</div>
                </div>
            </div>
    
                    <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead4">
                Medical<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
            </button>
            <div class="collapse" id="demohead4">
                <div class="list-group" id="category5">
                    <a href="#alle"  data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Allergy and Immunology<span class="badge bg-danger rounded-pill">97</span>
                    </a>
                    <div id="alle" class="collapse show" data-bs-parent="#category5">.</div>
                    <a href="#anes" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Anesthesiology<span class="badge bg-danger rounded-pill">44</span>
                    </a>
                    <div id="anes" class="collapse" data-bs-parent="#category5">.</div>
                    <a href="#derm" data-bs-toggle="collapse" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Dermatology<span class="badge bg-danger rounded-pill">75</span>
                    </a>
                    <div id="derm" class="collapse" data-bs-parent="#category5">.</div>
                </div>
            </div>
           
            <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead5">
                History<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
            </button>
            <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead6">
                Plitics<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
            </button>
            <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead7">
                Literature<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
            </button>
            <button type="button" class="btn btn-grey d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#demohead8">
                Business<span class="badge"><img src="pic/bootstrap-icons/plus.svg" alt="menus"></span>
                </button>
            </div>
        </div>
    </div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-success rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="pic/head.jpg" alt="myicoon" style="width:40px;" class="rounded-pill">
                </a>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                    </ul> 
                    <form class="d-flex rounded">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search">
                            <span class="input-group-text bg-light"><img src="pic/bootstrap-icons/qr-code-scan.svg"></span>
                            <span class="input-group-text bg-light"><img src="pic/bootstrap-icons/mic.svg"></span>
                            <span class="input-group-text bg-light"><img src="pic/bootstrap-icons/camera-fill.svg"></span>
                            <span class="input-group-text bg-light"> <img src="pic/bootstrap-icons/search.svg" alt="search"></span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        

        <div class="list-group rounded">
            <div id="headbar">
            
                <ul class="nav nav-tabs" role="tablist" v-if="bookcate.length">
                    <li class="nav-item" v-for="item of bookcate">
                        <a class="nav-link" data-bs-toggle="tab" href="#item.id">{{item.name}}</a>
                    </li>
                </ul>
            
                <div class="tab-content">
                    
                        <div class="tab-pane container active"  v-for="item of bookcate" id="item.id">
                            <h3></h3>
                        </div>
                    
                    
                </div>
            </div>

        <div id="slidepic" class="carousel slide cardconan my-3 rounded" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#slidepic" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#slidepic" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#slidepic" data-bs-slide-to="2"></button>
             </div>

             <div class="carousel-inner rounded">
                <div class="carousel-item active">
                    <img src="pic/first.jpg" alt="firstslide" style="height:350px;width:100%" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="pic/second.jpg" alt="secondslide" style="height:350px;width:100%" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="pic/third.jpg" alt="thirdslide" style="height:350px;width:100%" class="d-block w-100">
                </div>
             </div>

             <button class="carousel-control-prev" type="button" data-bs-target="#slidepic" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
             </button>
             <button class="carousel-control-next" type="button" data-bs-target="#slidepic" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
             </button>
        </div><br/>

        <div class="card shadow-lg my-2 rounded mx-auto" style="width:350px;font-size:12px" >
            <div class="card-header justify-content-between" style="line-height:1px;margin-bottom:-15px;margin-top: 0px;">
                <p><img src="pic/head.jpg" alt="myicoon" style="width:40px;" class="rounded-pill"> <strong>nassim taleb</strong>
                <a href="#" class="btn btn-primary right" >View profile</a></p>
            </div>
            <img class="card-img-top" src="pic/conan.jpg" alt="myicon" style="width:100%">
            <div class="card-body" style="line-height:1px">
            <a href="#" >View more about this book</a><hr style="margin-top:10px;margin-bottom:0px"/>
            <a href="#" class="btn btn-sm d-flex justify-content-between align-items-right">
                <img src="pic/bootstrap-icons/heart.svg"><img src="pic/bootstrap-icons/chat.svg"><img src="pic/bootstrap-icons/upload.svg">
                <span class="badge rounded-pill justify-content-left"><img src="pic/bootstrap-icons/bookmark.svg"> </span>
            </a>
            <strong>7,985 likes</strong><hr style="margin-top:10px;margin-bottom:0px" />
            <div class="input-group" >
            <input type="text" class="form-control form-control-sm" placeholder="Add a comment...">
            <span class="input-group-text bg-light"><img src="pic/bootstrap-icons/camera.svg"> </span>
            </div>
            </div>
        </div>
    
        <div class="pt-3 my-3 text-bg-success rounded cardconan" id="pagetitle">
            <h1 class="display-1 text-center" :class="{red: isRed}" @click="toggleRed" ><strong></strong>10 Nastaa Book Recommendations!</strong><small>You Can't Miss</small></h1>
            
                <blockquote class="blockquote">
                    <p class="lead text-break">“But life is very short and anxious for those who forget the past, neglect the present, and fear the future.” </p>
                    <footer class="blockquote-footer text-end text-capitalize text-white">Seneca, On the Shortness of Life</footer>
                </blockquote>
                <p>Use <kbd>ctrl + c</kbd>to copy the book</p>
                <div class="alert alert-warning alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>WELLCOM TO THIS SITE!</strong>You could close this alert.
                </div>
    </div>
        
        <div class="row shadow-lg my-3 rounded mx-auto">
            <div class="col-sm-3  text-bg-light rounded">
                <h1>BOOK</h1>
                <ul class="list-unstyled">
                    <li>
                        <abbr title="The Scope and Limits of Computational Psychology" class="initialism"> 
                            <div class="spinner-grow spinner-grow-sm text-success"></div>Mind Doesn't Work That Way
                         <span class="badge bg-danger rounded-pill">New</span>
                        </abbr>
                    </li>
                        <ul class="list-unstyled">
                            <li>
                                Jerry A.Fodor<br/>
                                <div id="app">
                                <button type="button" @click="increment" class="btn btn-outline-success btn-sm">
                                    <img src="pic/bootstrap-icons/hand-thumbs-up.svg" alt="handup">{{count}}</button>
                                </div>
                            </li>
                            <li>
                                Recommendation Index:
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:75%">75%</div>
                                </div>
                            </li>
                        </ul>
                </ul>
            </div>
            <div class="col-sm-9 text-bg-success rounded">
                <h1>Intruduction</h1>
                <ul class="list-unstyled">
                    <li>
                        <blockquote class="blockquote">
                        <p class="lead text-break text-info-60">
                            "Horribly written (that is Fodor's charm after all) but his argumentation is so ferocious that he ends up loud & clear." 
                            <img src="pic/minddwtw.jpg" class="img-thumbnail mx-auto d-block img-fluid" alt="mind doesn't work that way" width="60" height="43">
                            <a href="#" type="button" class="btn btn-outline-warning btn-sm"><span class="spinner-border spinner-border-sm"></span>BUY</a>
                        </p>
                        <footer class="blockquote-footer text-end text-capitalize text-warning">From Nassim Table</footer>
                        </blockquote>
                        
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="table-responsive-sm container cardconan my-3 rounded">
            <table class="table table-hover table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th>Booktitle</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>Black Swan</td>
                        <td>Nichola Nassim Table</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="pagination pagination-sm justify-content-center" style="margin:20px 0" id="pagenumber">
            <li class="page-item"><a class="page-link" href="#" style="float: left" v-for="item of pagenum">{{item}}</a></li>  
        </ul>
        
        <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="pic/bootstrap-icons/heart-fill.svg"/>
          </svg>
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="pic/bootstrap-icons/toggles.svg"/>
          </svg>
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="pic/bootstrap-icons/alipay.svg"/>
            
          </svg>
        <ul class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="https://discord.gg/vHgjYW2z"  target="_blank">
            <img src="pic/bootstrap-icons/discord.svg" class="mx-auto" alt="mydiscord" width="25" height="25">
            <a></li>
            <li class="breadcrumb-item"><a href="https://twitter.com/nntaleb" target="_blank">
            <img src="pic/bootstrap-icons/twitter.svg" class="mx-auto" alt="mytwitter" width="25" height="25">
            <a></li>
            <li class="breadcrumb-item"><a href="https://github.com/freetoliv" target="_blank">
            <img src="pic/bootstrap-icons/github.svg" class="mx-auto" alt="mygithub" width="25" height="25">
            <a></li>
            <li class="breadcrumb-item"><a href="#" class="link-info" target="_blank">
            <img src="pic/bootstrap-icons/line.svg" class="mx-auto"  alt="myline" width="25" height="25">
            <a></li>
            </ul>
    </div>
    

    <script type="module">
        import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        
        createApp({
            data() {
                return {
                    count: 0
                }
            },

        methods: {
            increment() {
                this.count--
            }
        },

        mounted() {
            console.log(this.count)
            this.increment()
            this.count = 338949
        },     
     }).mount('#app')
    
    createApp({
        data() {
            return {
                isRed: false,
                color: 'white',
            }
        },

        methods: {
            toggleRed() {
                this.isRed = !this.isRed
            },
            toggleColor() {
                this.color = this.color === 'white'? 'red' : 'white' 
            }
        }
    }).mount('#pagetitle')

    createApp({
        data() {
            return {
                bookcate: [
                    { id: 1, name:'Mathematic'}, {id: 2, name: 'History'}, {id: 3, name: 'Economy'} ,  {id: 4, name:'Philosophy'}, {id: 5, name: 'Bussiness'},  {id: 6, name: 'Computer'}, {id: 7, name: 'Medical'}, {id: 8, name: 'Medical'}, {id: 9, name: 'Politics'}, {id: 10, name: 'Literature'}, {id: 11, name: 'More'}
                ]
            }
        }
    }).mount('#headbar')

    createApp({
        data() {
            return {
                pagenum: ['Previous', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Next']
            }
        }
    }).mount('#pagenumber')

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltiplist =tooltipTriggerList.map(function (tooltipTriggerE1){
        return new bootstrap.Tooltip(tooltipTriggerE1)
    })
 </script>      
    
</body>
<footer class="text-center" style="font-size:10px">Released under the <strong>MIT License</strong><br/>
             Copyright <img src="pic/bootstrap-icons/c-circle.svg" style="width:8px;height:8px" alt="c"> 1999-2099 RuShi
</footer>
</html>