:root {
            --navgation-background-color: #F5E8C7;
            --nav-display: flex;
        }

[data-theme="dark"] {
            --navigation-background-color: hsl(0, 0%, 15%);
        }

.navigation {
            background-color: var(--navgation-background-color);
           
        }

.red {
    color: red
}

div.cardconan {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: none;
}

input[type=text]:focus {
  border: 3px solid black;
  background-color: lightyellow;
}

button {
  border: none;
}

span.input-group-text {
  border: none;
}

#enter {
  opacity: 0.3;
}

.right {
  float: right
}

.left {
  flost: left
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: hotpink;
}

h1 { 
  padding:42px 0;
}

div#mysitehead {
  padding:96px 0;
}

.tagline { 
  font-size:76px;line-height:1.25;font-weight:900;letter-spacing:-1.5px;max-width:960px;margin:0 auto
}

html:not(.dark) .accent,.dark .tagline {
background:-webkit-linear-gradient(315deg,#42d392 25%,#647eff);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent
}



